.navbar-brand h3 {
  color: $lighter;
  font-size: 1.3rem;
  span {
    color: $dark;
    font-size: 1rem;
  }
}
.navbar-toggler {
  color: $lighter !important;
}
.nav-link {
  color: $lighter !important;
  font-size: 0.8rem;
}

.rounded-pill {
  font-size: 1rem;
}
.fa-shopping-cart {
  font-size: 1rem;
}
@media only screen and (min-width: 990px) {
  .navbar {
    min-height: 10vh;
    padding: 0rem 5rem;
  }
  .navbar-nav {
    margin-left: 5rem;
    .nav-link {
      margin-left: 3.5rem;
    }
  }
}
